
@import './variable.scss';

.subContainerNav{

  align-items: center;
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 90em;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logoNavBar{

  display: block;
  margin-left: 64px;
  height: 50px;
  width: 50px;
  background-color: $accent-color;
  margin-left: 64px;
}

.NavBarItems{
  height: 100%;
  overflow: hidden;
  margin-left: auto;
  display: flex;
}

.Nav{
  font-family: Poppins,sans-serif;
  padding: 10px;
  display: block;
}
.Nav{
    padding: 10px;
    font-size: 17px;
    text-decoration: none;
    color: #646f79;
    margin: 10px;
    width: 100%;
    min-width: 100px;
    text-align: center;
    border-radius:10px ;
}

.Nav:hover,.logoNavBar:hover{
  cursor: pointer;
  background-color: #dedede;
}

//Burger menu
.BurgerToggle{
  display: none;
}

.burger-line{
  display: block;
  width: 25px;
  background-color:  #646f79;
  height: 5px;
  margin-top: 3px;
  border-radius: 2px;
}

.hide{
  display:flex;
}

//Break points

@media (max-width: 480px) {
  .LogoBurgerSubContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
   align-items: center;
  }
  .logoNavBar{
    margin-left: 0px;
  }
  .NavBarItems{
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
  }
  .BurgerToggle {
    margin-left: auto;
    display: block;
  }
  .hideToggle{
  display: none;
  }
}