@import './variable.scss';

* {
    box-sizing: border-box;
  }
.container-projects {
    margin: 0 auto;
    max-width: calc(100% - 5em);
    width: 70em;
  margin-bottom:150px;
  }
.tittle {
  
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .tittle > * {
    padding: 10px;
  }
  a1 {
    font-size: 40px;
  }
  
  a2 {
    font-size: 20px;
  }
  .textprojects{
    color:white;
    margin-top:20px;
    display: flex;
    flex-direction: column;
  }
  .textprojects >a2{
    color:white;
  }
  .textprojects >a4 {
    
    font-size: 68px;
    font-weight: bold;
  }
  .columns-flex-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
  
    flex-basis: 100%;
    align-items: strech;
  }
  .columns-flex-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    flex-basis: 100%;
    align-items: strech;
  }
  .subcontainerS {
    display: flex;
    flex-direction: row;

  }
  .project1 {
    background-color: #ff6b6b;
    width: 100%;
    height: 600px;
  }
  .project2 {
    background-color: #54a0ff;
    width: 100%;
    height: 500px;
  }
  .project3 {
    background-color: #feca57;
    width: 100%;
    height: 400px;
  }
  .project3>.buttonsproject{
    color: #feca57;
  }
  .project4 {
    background-color: #1dd1a1;
    width: 100%;
    height: 600px;
  }
  .imageproject >img{
    width:100%;


  
  }
  
  .projectContainer {
    box-shadow: $shadow1;
    color: white;
    transition: transform 0.2s;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    margin-bottom: 50px;
    text-align: center;
  }
  .projectContainer > a4 {
    font-size: 50px;
  }
  
  .projectContainer:hover {
    transform: scale(1.05);
  }
  
  .buttonsproject{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .buttonsproject{
    flex-grow: 1; 
 color:#ff6b6b;
    

  }
  .buttonProject1{
    background-color: white;
    padding:10px;
    font-size: 20px;
    margin:0px 10px 0px 10px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 5px 0 0 #E0E0E0;
  }


//hover
  .buttonProject1:active{
    transform: translateY(5px);
box-shadow: none;
  }
//temporal

.workinprogress{


	justify-content: center;
	align-items: center;
	align-content: center;
}
//responsive



  @media only screen and (max-width: 750px) {
    .subcontainerS{
      

      flex-direction: column;

      align-items: stretch;
      align-content: stretch;
    }
  }
  