//Allpagesvariables

$accent-color:#6AA7E8;
$background-color:#FFFBFC;
$TxtColor1:black;
$TxtColor2:#707070;

//shadow
$shadow1: 0 5px 10px rgba(154,160,185,0.05), 0 15px 40px rgba(166,173,201,0.2);


//border
//Font
$FontS:15px;
$FontM:20px;
$FontB:40px;

$FontBold:bold;
$FontMedium:medium;


$border1:2px solid rgb(231, 231, 231);
