//Allpagesvariables

$accent-color: #6aa7e8;
$background-color: #fffbfc;
$TxtColor1: black;
$TxtColor1a1: #2f2f2f;
$TxtColor2: #707070;
$TxtColor3: #bfced9;
//shadow
$shadow1: 0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(166, 173, 201, 0.2);

//border
//Font
$FontS: 15px;
$FontM: 20px;
$FontB: 40px;

$FontBold: bold;
$FontMedium: medium;

$border1: 2px solid rgb(231, 231, 231);
